html,
body {
  margin: 0px;
  width: 100%vw;
  height: 100%vh;
  background-color: #282c34;
  color: #abb2bf;
  font-family: 'Fira Code', monospace;
}

header {
  text-align: center;
  color: #61afef;
  padding: 1rem;
  background-color: #282c34;
}

.btn {
  background-color: #4d4d4d;
  border: none;
  color: #d4d4d4;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #5a5a5a;
}

button.active {
  background-color: #657eaf;
  color: #ffffff;
}

input[type='number'] {
  background-color: #555d6f;
  border: none;
  border-radius: 5px;
  color: #abb2bf;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  padding: 10px;
  width: 40%;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #282c34;
}

.selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #61afef;
  width: 600px;
  height: 600px;
  background-color: #3e4451;
}

.container {
  display: grid;
  border: 2px solid #61afef;
  background-color: #282c34;
  width: 600px;
  height: 600px;
  /* grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr); */
}

.grid-layout {
  background-color: #3e4451;
  transition: background-color 0.2s ease-in-out;
}

.grid-layout:hover,
.grid-layout.active {
  background-color: #61afef;
}

.error-message {
  color: #971919;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@media (max-width: 816px) {
  html,
  body {
    width: 100vw;
    height: 100vh;
  }
  .main {
    flex-direction: column;
  }

  .selections {
    width: 100%;
    height: 50%;
    margin-bottom: 1rem;
  }

  .container {
    width: 100%;
    height: 50%;
    margin-top: 1rem;
  }

  .grid-layout {
    font-size: 2vw;
  }
}
